* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #eb000c;
  }
  
  
  .logo {
  
    font-family: 'Pacifico', cursive; /* or whatever font you want */
    font-size: 40px;
    color: white;
   
    
  
  
  }
  
  
  .login-box {
    text-align: center;
    background:white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
  }
  body {
    
    font-family: 'Segoe UI', sans-serif;
    background-color: lavender;
    color: #fff;
  }
  
  
  
  .login-box h2 {
  margin-bottom: 20px;
  color: #333;
  }
  
  .login-box input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  }
  
  .login-box button {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
  background-color: #287dc0;
  }
  
  .forgot {
  display: block;
  margin-top: 10px;
  color: #00376b;
  text-decoration: none;
  font-size: 14px;
  }
  
  .signup-box p {
    text-align: center;
  font-size: 14px;
  color: #666;
  }
  
  .signup-link {
  color: purple;
  text-decoration: none;
  font-weight: bold;
  }
  
  footer {
    background: #1a1a1a;
    text-align: center;
    padding: 20px;
    color: #ccc;
  }
  .logo {
    
    font-family: 'Pacifico', cursive; /* or whatever font you want */
    font-size: 40px;
    color: white;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /* Adjust based on header+footer height */
    padding: 20px;
  }
  